*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
    margin-left: 3em;
    margin:0%;
    border: 0cm;
    position: relative;
    min-height: 100vh;

}
.contimg{
    height: 15em;
    width: 100%; /* Defina a largura da imagem como 100% da largura do contêiner */
    overflow: hidden; /* Evita que a imagem se estenda além do contêiner */
    background-image: url(img1.jpg);
    background-position: center;
    background-size: cover;
}
.gradiente {
    position: top;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0),#532025)
     }

.headiv{
    height: 8em;
    background-color:#532025;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;

}

header h1{
	font-size: 3em;
	display:inline;
	vertical-align:	middle;
    color: beige;
    font-family: monospace;
    
}
.centro{
    background-color:rgb(173, 173, 173);
    width: 80%;
    margin-left: 10%;
    padding: 9em;
    overflow: hidden;
}

main {
    
    background-color: #77a682;
    padding: 30px;
    overflow: auto; 
    align-items: center; 
    display: flex;
    border-style: double;
     border-width: 15px; 
     border-radius: 20px;
     border-color: #3f0d12e8;
     margin: 0 auto;
     font-family:monospace;
 }
 main p {
    margin-left: 20px;
    font-size: 20px;
 }
 h2{
    font-size: 40px;
 }
 .botoesdir{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    margin-top: 2em;

 }
 .churras{
    border-radius: 20px;
    background-color: #77a68275 ;
    padding: 20px;
    height: 500px;
    width: 500px;
    text-align: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0),#77a682)
 }
 footer {
    height: 5em;
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%; 
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
